<template name="sqldata">
<div align="center">    
    <form class="insert">
     <input type="text"  name="t1" class="t1">
     <input type="submit">
     <input type="button" id="search" value="search" class="search">
     <div id="l0" >div1
        {{itemName 2}}  
        <!--<table>
            <tr>
                <td>id</td>
                <td>name</td>
                <td>title</td>
                <td>type</td>
                <td>img</td>
            </tr>
            {{#each data1}}
            <tr>
                <td>{{id}}</td>
                <td>{{contact_person}}</td>
                <td>{{title}}</td>
                <td>{{type}}</td>
                <td>{{img}}</td>
                <td><input type="button" class="delete" value="delete"></td>
            </tr>
            {{/each}}
        </table>-->
      </div>
    </form>
</div>
<script type="text/JavaScript">


</script>
</template>