<template name="sqldata">
<div align="center">    
    <form class="insert">
     <input type="text"  name="t1" class="t1">
     <input type="submit">
     <input type="button" id="search" value="search" class="search">
     <div id="l0" >
         <table>
            <tr>
                <td>id</td>
                <td>title</td>
                <td>contact_person</td>
                <td>contact_number</td>
                <td>loacation</td>
                <td>content</td>
                <td>img</td>
                <td>type</td>
            </tr>
        {{#each repo}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{contact_person}}</td>
                <td>{{contact_number}}</td>
                <td>{{loacation}}</td>
                <td>{{content}}</td>
                <td>{{img}}</td>
                <td>{{type}}</td>
                <td><button class="delete">delete</button></td>
            </tr>
        {{/each}}
         </table>
      </div>
    </form>
</div>
<script type="text/JavaScript">


</script>
</template>